#consent {

    box-sizing: border-box;
    bottom: 0px;
    position: absolute;
    /*    background: #FCBD1B;*/
    background: rgba(252, 189, 72, 0.95);
    width: 100%;
    display: table;
    padding: 12px;
    border-top: 1px solid #000020;
    z-index: 2000;
    font-family: 'CustomReg';
}

#button-wrapper {
    padding-top: 20px;
    width: fit-content;
    margin: 0 auto;
}


#consent button {
    background: none;
    color: #000020;
    padding: 4px 10px;
    max-height: 40px;
    font-family: 'CustomHeavy';
    font-size: 0.9em
}

#bt-accept {
    border: 0;
    border-right: solid 1px #000020
}

#bt-reject {
    border: 0;
    border-left: solid 1px #000020
}

#consent button:hover {
    cursor: pointer
}



#consent p {
    color: #000020;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

@media (min-width: 768px) {
    #button-wrapper {
        padding-top: 0px
    }

    #consent {
        display: flex;
        font-size: 0.8em
    }

    #consent button {
        font-size: 1em
    }

    #consent button + button {
        margin: 0 0 0 8px;
    }
}
