#consent {
    align-items: center;
    box-sizing: border-box;
    bottom: 0px;
    position: absolute;
    background: #FCBD1B;
    width: 100%;
    display: table;
    padding: 12px;
    z-index: 2000;
    font-family: 'CustomLight';
    font-size: 0.8em
}

#consent a {
    color: #000020;
}

#button-wrapper {
    padding-top: 10px;
    width: fit-content;
    margin: 0 auto;
    display: flex
}

#bt-close img {
    box-sizing: border-box;
    height: 20px;
    padding-left: 10px;
    padding-top: 4px;
    vertical-align: middle;
}

#consent button {
    background: none;
    color: #000020;
    padding: 4px 10px;
    max-height: 40px;
    font-family: 'CustomHeavy';
    font-size: 0.9em;
    cursor: pointer;
}

#bt-accept {
    border: solid 1px #000020;
}




#consent #cookieCheckboxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #000020;
    padding-bottom: 2px
}

#consent #cookieCheckboxes label {
    display: flex;
    margin-right: 8px;
}

#policyLink {
    font-size: 0.7em
}

#consent #cookieCheckboxes input[type=checkbox] + label::before {
    content: ' ';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    margin-right: 4px;

    background-color: transparent;
    border: 1px solid #000020;
    border-radius: 2px;
}

#consent #cookieCheckboxes input[type=checkbox]:checked + label::before {
    content: '✓';
}

#consent #cookieCheckboxes input[type=checkbox]:disabled + label::before {
    background-color: gray;
}

#consent #cookieCheckboxes input[type=checkbox] {
    display: none;
}


#consent p {
    color: #000020;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

@media (min-width: 768px) {
    #button-wrapper {
        padding-top: 0px
    }

    #consent {
        display: flex;
        font-size: 0.8em
    }

    #consent button {
        font-size: 1em
    }

    #consent button + button {
        margin: 0 0 0 8px;
    }
}
