html {
	background-color: #121212;
}

body {
	overflow-x: hidden;
	margin: 0;
}

.pp-easing {
	-webkit-transition: all 5000ms ease-in;
	-moz-transition: all 5000ms ease-in;
	-o-transition: all 5000ms ease-in;
	transition: all 5000ms ease-in;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

h1,
h2,
h3,
p {
	margin-block-start: auto;
	margin-block-end: auto;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

#header-wrapper {
	width: fit-content;
	margin: 0 auto;
}


#intro {
	color: white;
	font-family: 'CustomReg';
	overflow: hidden;
	height: 100vh;
}

#top {
	font-family: 'CustomBold';
	padding-top: 10vh;
	text-align: left;
	margin-bottom: 5vh
}


#top h3 {
	font-size: 3em
}

#top h2 {
	font-size: 4em
}

#top h1 {
	font-size: 5em;
	display: inline-flex;
	color: #6181ef;
	line-height: 0.8em
}

#top #movingDot {
	color: #fcbd1b;
	transition: 0.5s ease-in-out;
	height: 1em;
	transition: 1s;
}

#bottom {
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 20vh;
	text-align: left;
}

#arrows {
	position: relative;
	width: 100%;
	visibility: hidden;
}

#middle {
	padding-top: 20px;
	visibility: hidden;
}

#middle-wrapper {
	position: absolute;
}

#middle hr {
	border-width: 0.2px;
	width: 100%
}

#line {
	transition: 0.3s ease-out
}

#head-text {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

#middle p {
	font-family: 'CustomLight';
	text-align: left;
	padding-top: 40px;
	font-size: 1em;
	margin: 0
}


#main-menu {
	text-align: center;
	overflow: hidden;
	height: 100vh
}

#main-menu .pp-tableCell {
	display: inline
}

.col-6 {
	width: 50%
}

#header {
	display: flex;
	justify-content: space-between;
	max-height: 7vh
}

#dyslexia {
	top: 0;
	left: 0;
	margin: 16px;
	color: white;
	display: flex;
	text-align: left;
	cursor: pointer;
	font-family: 'opendyslexic';
}

#languages {
	margin: 16px;
	top: 0;
	right: 0;
	color: white;
}

#languages .languageBox span.active,
#languages .languageBox span:hover {
	border-bottom: 2px solid white;
}

#dyslexia img {
	height: 3em;
	padding-right: 10px;
}

#dyslexia p {
	margin: 0;
	font-size: 1em;
	display: inline-table;
}


#middle-menu img {
	box-sizing: border-box;
	width: auto;
	height: auto;
	max-height: 25vh;
	margin: 2vh
}

#navigation {
	font-family: 'CustomLight';
	font-size: 1em;
	width: 60%;
	display: grid;
	margin: auto;


}

#navigation a {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: rgba(75, 75, 89, 0.15);
	padding: 0.7em;
	margin: 0.6em;
	border-radius: 1em;
	color: #fafafc;
	text-decoration: none;
	box-shadow: 0px 0px 8px #0e0e0f
}

#navigation a p {
	background-image: linear-gradient(transparent 0%, transparent 65%, #6281ef 65%, #6281ef 100%);
	background-position: 0px 1em;
	background-repeat: no-repeat;
	transition: 0.5s;
	padding-left: 5px;
	padding-right: 5px;
}

#navigation a:hover p {
	background-position: 0px 0px;
}

#footer {
	font-family: 'CustomLight';
	display: flex;
	justify-content: center;

}

#main-menu #footer a {
	color: #6281ef;
	font-size: 0.6em;
	float: left;
	text-decoration: none
}

#footer a:active,
#footer a:focus {
	color: #fcbd1b;
}

.container {
	width: 100%;
	text-align: center;
}

.container h1 {
	font-size: 2em
}

#info-page #footer,
#map-page #footer {
	vertical-align: middle;
	z-index: 10;
	position: fixed;
	margin: 0;
	bottom: 0;
	padding: 5px;
	width: 100%;
	height: 5vh;
	background-color: #fcbd1b;
	display: flex;
	align-items: center;
}

#info-page #footer a,
#map-page #footer a {
	position: fixed;
	float: none;
	font-family: 'CustomLight';
	text-decoration: none;
	font-size: 1.3em;
	color: #121224;
}

#info-page #footer a:hover,
#map-page #footer a:hover {
	text-decoration: underline;
}

@media (min-width:768px) {
	#top {
		text-align: center;
		margin: 0 auto;
		margin-bottom: 5vh
	}

	#top h3 {
		font-size: 5em
	}

	#top h2 {
		font-size: 6em
	}

	#top h1 {
		font-size: 7em;
		letter-spacing: 10px
	}

	#middle p {
		font-size: 1.5em;
		margin: 0
	}

	#menu-top p {
		font-size: 1.5em;
	}

	#middle-menu img {
		max-width: 50%;
		height: auto;
		max-height: 30vh;
		width: auto;
	}

	#dyslexia img {
		height: 3em
	}

	#navigation {
		width: 50%;
		font-size: 1.5em
	}

	#navigation a {
		padding: 0.29em;
		margin: 0.4em;
	}

	#main-menu #footer a {
		font-size: 0.8em;

	}

	.container h1 {
		font-size: 4em
	}

	#dropdown-icon {
		height: 4em
	}

	#dropdown-menu {
		position: absolute;
		width: 7vw;
		height: 100vh;
		z-index: 1000;
	}

	#dropdown-content {
		width: 33vw;
		right: -33vw;
	}

	#dropdown-content a {
		font-size: 24px;
	}


	.navbar-contr img {
		height: 40px;
		max-width: 100px;
		margin: 10px
	}

	#dropdown-content h1 {
		font-size: 48px
	}

	#info-page #footer a,
	#map-page #footer a {
		font-size: 2em;
	}
}

@media (min-width:1024px) {
	#dropdown-icon {
		height: 5em
	}

	#navigation {
		width: 40%;
	}
}

@media (min-aspect-ratio: 17/9) and (min-width: 1024px) {
	#top {
		display: flex;
		width: 80%;
		padding-top: 0;
		margin-top: 30vh;
	}

	#header-wrapper {
		margin-left: 6vw;
		display: flex
	}


	#top h1,
	#top h2,
	#top h3 {
		margin-inline-start: 0;
		margin-inline-end: 0;
		margin-right: 1vw;
		font-size: 4em;
		letter-spacing: normal;
		line-height: normal;
	}

}

@media (min-aspect-ratio: 16/9) and (max-width:1023px) {
	#top {
		display: flex;
		width: 80%;
		padding-top: 0;
		margin-left: 10vw;
		margin-top: 30vh;
	}

	#header-wrapper {
		display: flex
	}


	#top h1,
	#top h2,
	#top h3 {
		margin-inline-start: 0;
		margin-inline-end: 0;
		margin-right: 1vw;
		font-size: 3.5em;
		letter-spacing: normal;
		line-height: normal;
	}

	#middle p {
		font-size: 0.9em
	}

	#menu-top {
		padding: 10px
	}

	#middle-menu img {
		max-height: 30vh
	}

	#navigation {
		width: 70vw
	}
}

@media (min-aspect-ratio: 16/9) and (max-width:674px) {

	#top h1,
	#top h2,
	#top h3 {
		font-size: 3em
	}
}

@media (max-width:321px) and (max-height:570px) {

	#top h3 {
		font-size: 2em
	}

	#top h2 {
		font-size: 3em
	}

	#top h1 {
		font-size: 4em;
		letter-spacing: 5px
	}
}

@media (max-width:570px) and (max-height:321px) {

	#top h1,
	#top h2,
	#top h3 {
		margin-inline-start: 0;
		margin-inline-end: 0;
		margin-right: 1vw;
		font-size: 3.5em;
		letter-spacing: normal;
		line-height: normal;
	}

	#top {
		display: flex;
		width: 80%;
		padding-top: 0;
	}

	#header-wrapper {
		margin-left: 6vw;
		display: flex
	}

	#top h1,
	#top h2,
	#top h3 {
		font-size: 2em
	}

	#navigation {
		width: 90vw;
		height: 25vh;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	#navigation a {
		padding: 5px
	}
}

@media (min-aspect-ratio: 16/9) and (max-height: 720px) {
	#navigation {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

@media (min-aspect-ratio: 16/9) and (max-height: 520px) {
	#menu-top {
		padding: 5px;
		box-sizing: border-box;
		padding-left: 5vw;
		padding-right: 5vw;

	}

	#dyslexia img {
		height: 2.5em
	}

	#dyslexia p {
		line-height: 1.3
	}

	#middle-menu img {
		max-height: 30vh
	}

	#navigation {
		width: 80vw;
		height: 30vh
	}

	#navigation a {
		padding: 0.1em;
		margin: 0.3em;
	}
}
