html,
body {
	background-color: #121212;
	font-family: 'CustomReg';
	margin: 0;
	padding: 0;
	overflow: hidden
}

.row {
	width: 100%;
	box-sizing: border-box
}

#languages .languageBox span.active,
#languages .languageBox span:hover {
	border-bottom: 2px solid white;
}

#info-page,
#map-page {
	color: white
}

.container {
	width: 100%;
	text-align: center;
}

.container h1 {
	font-size: 1.4em;
	text-transform: uppercase
}

#info-page #footer,
#map-page #footer {
	box-sizing: border-box;
	vertical-align: middle;
	position: fixed;
	margin: 0;
	bottom: 0;
	padding: 10px;
	width: 100%;
	height: fit-content;
	font-size: 1.3em;
	background-color: #1a1a1c;
	display: flex;
	align-items: center;
	border-top: solid 4px #6281ef
}

#info-page #footer a,
#map-page #footer a {
	position: fixed;
	float: none;
	font-family: 'CustomLight';
	text-decoration: none;
	font-size: 1.3em;
	color: #fafafc;
}



#change-city img {
	height: 5vh;
	width: auto;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 900;
	cursor: pointer;
	background-color: #121212;
	padding: 10px;
	padding-top: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: solid 1px #fafafc;
	border-top: none;
}

#choose-city {
	width: 30%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	z-index: 2
}

#map-page div[showing=false] {
	display: none;
}

#choose-city button {
	font-family: 'CustomLight';
	font-size: 1.5em;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: #121212;
	border: none;
	border-radius: 1em;
	color: #fafafc;
	text-decoration: none;
	padding: 5px;
	margin-bottom: 15px;
	cursor: pointer;
	box-shadow: 0px 0px 6px #6281ef;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family: 'CustomReg';

}

.mapboxgl-popup-content {
	max-width: 400px;
	background-color: #1a1a1c;
	color: #fff;
	text-align: center;
	border: solid 2px #6281ef;
	padding: 10px;
	font-size: 24px;
	vertical-align: middle;
	border-radius: 10px
}

.mapboxgl-popup-content p {
	margin: 10px
}


.mapboxgl-popup-content a {
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	line-height: 24px;
	text-decoration: none;
}

.mapboxgl-popup-content a:hover {
	text-decoration: none
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	border-top-color: #6281ef;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
	border-left-color: #6281ef;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
	border-right-color: #6281ef;
}


.mapboxgl-popup-close-button {
	display: none
}

#dropdown-menu {
	position: absolute;
	right: 0vw;
	z-index: 3000;
	display: flex;
	justify-content: space-between;
	width: 66vw;
	padding: 21px;
	padding-top: 15px;
	box-sizing: border-box;
	align-items: baseline;
	pointer-events: none
}

#dropdown-menu img:hover {
	cursor: pointer
}

.toggleable {
	cursor: pointer;
	z-index: 11;
	box-sizing: border-box;
	min-width: 30px;
	pointer-events: all;
	max-width: 40px;
}

.menu-hamb {
	height: 4px;
	border-radius: 5px;
	transition: 0.5s;
	background-color: #6281EF;
	z-index: 2000
}

.menu-short {
	width: 70%;
	margin-bottom: 6px;
	margin-top: 6px;
	transition: 0.1s;
}

.active .menu-short {
	transform: translateX(30%) scaleX(0);
}

.active #top-hamb {
	transform: scale(0.7) translateY(20px) rotate(45deg);
}

.active #bottom-hamb {
	width: 100%;
	transform: scale(0.7) translateY(-9px) rotate(-45deg);
}

.active #language.navbar-contr {
	opacity: 100%;
	transition-delay: 1s;
	transition-duration: 0.5s;
	pointer-events: all
}

.active .languageBox {
	padding: 0
}

#bottom-hamb {
	width: 85%;
}

#dropdown-content {
	position: absolute;
	background: #121212;
	right: -66vw;
	width: 66vw;
	z-index: 1000;
	height: 100%;
	transition: 1s;
	overflow-x: hidden;
	overflow-y: auto;
	align-items: center;
	text-align: left;
}

#dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 16px;
	color: #fafafc;
	font-family: 'CustomLight';
	transition: 0.5s
}


#dropdown-content a p {
	margin-block-end: 0;
	margin-block-start: 0;
	background-image: linear-gradient(transparent 0%, transparent 65%, #6281ef 65%, #6281ef 100%);
	background-position: 0px 2em;
	background-repeat: no-repeat;
	transition: 0.5s;
	padding-left: 5px;
	padding-right: 5px;
	width: fit-content
}

#dropdown-content a:hover p {
	background-position: 0px 0px;
}

#foot {
	position: absolute;
	z-index: 1000;
	width: 100%;
	left: 0;
	border-radius: 0;
	border: none;
	transition: 1s;
	text-align: center;
}



#language.navbar-contr {
	display: block;
	opacity: 0%;
	transition: 0s;
	/*	transition-delay: 0.5s*/
}

#language.navbar-contr span:hover,
#language.navbar-contr span.active {
	border-bottom: 2px solid white;
}

#navbar-controls svg {
	fill: #fcbd1b
}

.navbar-contr img {
	height: 20px;
	max-width: 100px;
	margin: 10px;
	cursor: pointer
}

#footer {
	z-index: 2;
}

#close-img {
	float: right
}

.infoHeader {
	display: flex;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
	padding-bottom: 30px;
	padding-top: 20px
}


.infoHeader .languageBox span.active,
.infoHeader .languageBox span:hover {
	border-bottom: 2px solid white;
}

#dropdown-menu:hover #dropdown-content {
	transition: 1s;
	transform: translateX(-100%);
}

#dropdown-menu:hover > #foot {
	display: none;
}

#dropdown-content h1 {
	margin: 0;
	font-family: 'CustomHeavy';
	padding-left: 21px;
	font-size: 30px;
	-webkit-text-stroke: thin #6281ef;
	stroke-color: #6281ef;
	color: transparent;
	padding-top: 8vh;
	padding-bottom: 2vh;
	position: fixed;
	background-color: #121212;
	width: 100%
}

#header {
	text-align: center;
	margin: 0;
	width: 100%
}

.container main {
	padding-top: 0;
	margin-top: 0;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 30vh;
	font-size: 0.8em
}

.question:first-child {
	border-radius: 15px 15px 0 0;
}

.question:nth-last-child(2) {
	border-radius: 0 0 15px 15px;
	transition: 0.5s all ease 0.5s;
}

.question.open:nth-last-child(2) {
	border-radius: 0;
	transition: 0.2s all ease 0s;
}

.question {
	font-family: 'CustomReg';
	margin: 0;
	padding: 16px;
	background-color: rgba(75, 75, 89, 0.15);
	color: #fafafc;
	cursor: pointer;
	border: solid 2px #6281ef;
	border-bottom-width: 1px;
	border-top-width: 1px;
}

.answer {
	box-sizing: border-box;
	overflow: hidden;
	max-height: 0;
	margin: 0;
	border-width: 0 1px;
	padding: 0 16px;
	transition: 0.5s;
	font-family: 'CustomLight'
}

.answer.open {
	max-height: 250px;
	border-width: 1px;
	padding: 16px;
}

.answer.open:last-child {
	border-radius: 0 0 15px 15px;
}

#consent {
	bottom: 0px;
}

#button-wrapper {
	font-size: 1.2em;
	text-align: center;

}

@media (max-width:768px) {
	.container main {
		padding-bottom: 40vh
	}

	#content-wrapper {
		padding-top: calc(9vh + 34px);
		padding-bottom: 20vh
	}

	#choose-city {
		width: 50%;
	}
}

@media (min-width:768px) {


	#choose-city button {
		padding: 8px;
	}

	.container h1 {
		font-size: 4em
	}


	#dropdown-menu {
		width: 33vw;
	}

	#dropdown-content {
		width: 33vw;
		right: -33vw;
	}

	#dropdown-content a {
		font-size: 24px;
	}


	.navbar-contr img {
		height: 40px;
		max-width: 100px;
		margin: 10px
	}

	#dropdown-content h1 {
		font-size: 40px
	}

	#consent {
		font-size: 0.7em;
	}

	#content-wrapper {
		padding-top: calc(10vh + 48px);
		padding-bottom: 20vh
	}

}

@media (min-aspect-ratio: 16/9) and (max-width:768px) {

	#choose-city {
		width: fit-content;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 7px
	}
}

@media (min-aspect-ratio: 16/9) and (min-width:768px) {

	#choose-city {
		width: fit-content;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 7px
	}

	#dropdown-content h1 {
		padding-top: 14vh
	}

	#content-wrapper {
		padding-top: calc(14vh + 48px);
		padding-bottom: 20vh;
	}

}

@media (min-width:1024px) {
	#dropdown-icon {
		height: 2em
	}

}
